@charset "utf-8";
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 15px 15px 15px 15px;;
    background: linear-gradient(to bottom, #fff7e6, #ffebcc);
}

header {
    background: #8b4513;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a.active {
    border-bottom: 2px solid white;
}

.imageL{
	float: left;
}

.niku{
  list-style:none;
}


.grid-container {
    padding: 20px;
}

.content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.content h2 {
    font-size: 1.5em;
    color: #8b4513;
}

footer {
    background: #8b4513;
    color: white;
    text-align: center;
    padding: 10px;
}
